@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

body {
    margin: 0;
    font-size: 16px;
    line-height: 25px;
    font-family: "Raleway", sans-serif;
    color: #222222;
    text-align: center;
    background: url(back1.jpg); /* Фоновый цвет и фоновый рисунок*/
  }

  .content {
    margin: 80px;
  }

 footer div p {
    padding: 10px 0;
    margin: 0;
  }

  .head{
    background-color: #d6cf4f;
  }

  footer div{
    margin: 0;
    margin-top: 100px;
    background-color: #d6cf4f;
  }

.reg_auth {
    padding: 80px;
}


