@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
body {
    margin: 0;
    font-size: 16px;
    line-height: 26px;
    font-family: "Raleway", sans-serif; 
    color: black;
    text-align: center;
    background-color: rgb(130, 129, 129);
  }

  * {
    margin: 0;
    /* padding: 0; */
  }
  .content {
    min-height: calc(100vh - 80px);
  }

  h1 {
    font-size: 24px;
    line-height: normal;
  }
  
  h2 {
    font-size: 20px;
    line-height: normal;
  }

  .mainpage {
    display: flex;
    justify-content: center;
  }

  ul {
    text-align: start;
    padding: 10px 20%;
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

  .list {
    margin: auto;
  }
  

  .head{
    background-color: white;
  }

  .tableD {
    width: 600px;
    border: 1px solid black;
    border-collapse: collapse;
  }

  .tableD th {
    border: 1px solid black;
 }

 .tableD td {
  border: 1px solid black;
 }

 .e {
  border: 2px solid red;
  padding: 8px;
 }
  
  footer {
    margin: 0;
    margin-top: 30px;
    background-color: white;
    position: sticky;
  }