@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
body {
    margin: 0;
    font-size: 16px;
    line-height: 26px;
    font-family: "Raleway", sans-serif;
    color: #222222;
    text-align: center;
    background-color: #f6b9b9
  }

  .head{
    background-color: #f6b9b9;
    position: sticky;
    top: 0;
    margin: 50px;
  }

  .header {
    margin: 0;
  }

  footer div{
    margin: 70px;
    padding-top: 10px;
    background-color: #f6b9b9;
  }


