<head>
    <link rel="stylesheet" href="style.css">
</head>
<body class="login">
    <form name="login" action="https://httpbin.org/post" method="post">
        <h2>Вход</h2>
        <p>Логин:</p>
      <p><input type="text" name="login" size="40"></p>
      <p>Пароль:</p>
      <p><input type="password" name="password" maxlength="25" size="40" name="password"></p>
      <p>Запомнить меня</p>
      <p><input type="checkbox" name="yes" value="yes">Да</p>
      <p><input type="submit" value="Отправить"></p>   
    </form></body>