@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
body {
    margin: 0;
    font-size: 16px;
    line-height: 26px;
    font-family: "Raleway", sans-serif;
    color: #222222;
    text-align: center;
  }

 footer div p {
    padding: 10px 0;
    margin: 0;
  }

  h1 {
    font-size: 24px;
    line-height: normal;
  }
  
  h2 {
    font-size: 20px;
    line-height: normal;
  }

  .list li {
    text-align: left;
  }

  .list {
    margin: auto;
  }

  .tasks {
    display: flex;
    justify-content: center;
  }

  .head{
    background-color: #f6b9b9;
  }

  .table {
    max-width: 80%;
    margin: auto;
  }
  
  .feedback {
    background-color: #f6b9b9;
    padding: 10px 0;
  }

  .login {
    background-color: #f6b9b9;
    margin: 200px;
  }

  footer {
    margin: 0;
    margin-top: 30px;
    background-color: #f6b9b9;
  }
