<head>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <p><h2>Возведение в степень</h2></p>
    <p><label for="count">Введите число:</label></p>
    <p><input type="text" name="count" id="count"/></p>
    <p><label for="degree">Введите степень:</label></p>
    <p><input type="text" name="degree" id="degree"/></p>
    <p><button type="submit" onclick="pow()">Возвести число в степень</button></p>
    <p id="resPow"> </p>
    <p><h2>Нахождение НОД</h2></p>
    <p><label for="a">Введите первое число:</label></p>
    <p><input type="text" name="a" id="a"/></p>
    <p><label for="b">Введите второе число:</label></p>
    <p><input type="text" name="b" id="b"/></p>
    <p><button type="submit" onclick="find_gcd()">Найти НОД</button></p>
    <p id="resGcd"> </p>
    <p><h2>Наименьшая цифра в числе</h2></p>
    <p><label for="min">Введите число:</label></p>
    <p><input type="text" name="min" id="min"/></p>
    <p><button type="submit" onclick="minDigit()">Найти цифру</button></p>
    <p id="resMin"> </p>
    <p><h2>Плюрализация</h2></p>
    <p><label for="k">Введите число книг и дней:</label></p>
    <p><input type="text" name="k" id="k"/></p>
    <p><button type="submit" onclick="pluralization()">Применить плюрализацию</button></p>
    <p id="resPlur"> </p>
    <p><h2>Числа Фибоначчи</h2></p>
    <p><label for="n">Введите число:</label></p>
    <p><input type="text" name="n" id="n"/></p>
    <p><button type="submit" onclick="fibb()">Найти n-ное число Фибоначчи</button></p>
    <p id="resFibb"> </p>
    <script>
        function pow() {
          var x = document.getElementById("count").value;
          var n = document.getElementById("degree").value;
          var p = document.getElementById("resPow");
          var result = x;
          if(n == 0) {
            p.innerHTML = 'Результат ' + 1;
          }
          else {
            for (let i = 1; i < n; i++) {
            result *= x;
                }
            p.innerHTML = 'Результат ' + result;
          }
        }
        function find_gcd() {
            var a = document.getElementById("a").value;
            var b = document.getElementById("b").value;
            var p = document.getElementById("resGcd");
            p.innerHTML = 'Результат ' + gcd(a, b);
        }
        function gcd(x, y) {
            if (y === 0) return x;
            return gcd(y, x % y);
        }
        function minDigit() {
            var count = document.getElementById("min").value;
            var p = document.getElementById("resMin");
            count = String(count);
            var count_elem = count.split('');
            var min = 10;
            for(var i = 0; i < count_elem.length; i++) {
                if(Number(count_elem[i]) < min) {
                    min = Number(count_elem[i]);
                }
            }
            p.innerHTML = 'Результат ' + min;
        }
        function pluralization() {
            var count = document.getElementById("k").value;
            var p = document.getElementById("resPlur");
            var books = [" книги ", " книг ", " книг "];
            var days = [" день ", " дня ", " дней "];
            if(count % 10 === 1 & count % 100 !== 11) {
                p.innerHTML = 'Из ' + count + books[0] + 'за ' + count + days[0]; 
            }
            else if((count % 10 === 2 || count % 10 === 3 || count % 10 === 4) & (count % 100 !== 12 & count % 100 !== 13 & count !== 14)) {
                p.innerHTML = 'Из ' + count + books[1] + 'за ' + count + days[1];
            }
            else {
                p.innerHTML = 'Из ' + count + books[2] + 'за ' + count + days[2];
            }
        }
        function fibb() {
            var n = document.getElementById("n").value;
            var p = document.getElementById("resFibb");
            var a = 1;
            var b = 1;
            for (let i = 3; i <= n; i++) {
                let c = a + b;
                a = b;
                b = c;
            }
            p.innerHTML = 'Результат ' + b;
        }
    </script>
</body>