@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
table {
    border: 1px solid grey;
    font-size: large;
 }
 /* границы ячеек первого ряда таблицы */
 th {
    border: 1px solid grey;
    background-color: red;
 }
 /* границы ячеек тела таблицы */
 td {
    border: 1px solid grey;
 }
 